html {
    background: orange;
    text-align: center;
    color: white;
    font-family: Calibri;
    font-size:larger;
}

h1 {
    font-family: 'Gill Sans MT', sans-serif
}

img{
    width : 30%
}

p {
    width: 66%;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
    font-size: x-large;
}

.images{
    width : 50%;
}






#spatula {
    margin-left: 100%;
}

#spatula > * {
    height: 64px;
    width: 512px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}








#container {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 64px;
}

#crepe_holder{
    margin-left: 10%;
    margin-right: 45%;
    height: auto;
}

.crepe {
    margin: auto;
    margin-bottom: 1%;
    background: black;
    height: 32px;
    
}

.crepe > .top {
    height: 50%;
    opacity: 0%;
}

.crepe > .bottom {
    background: black;
    height: 50%;
    opacity: 50%
}


@keyframes rotate {
    from {
      transform: rotateX(0deg);
    }
    to {
      transform: rotateX(180deg);
    }
}

.rotate {
  animation: rotate 0.5s linear forwards; /* CHANGE IT IN  */
}







#menu {
    text-align:left;
    width: 100%;
    height: 50px;
    margin: 0%;
    z-index: 99;
    position: relative;
    display: flex;
    justify-content: center;
  }





.navbar {
    height: 50px;
    padding: 0;
    margin:0%;
    position: absolute;
    text-align: center ;
  }

.navbar li {
    display: inline;
    height: auto;
    width:135.8px;
    float: left;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: red;
  }
.navbar li:hover {
    background-color: blue;
  }
.navbar a {
    padding: 18px 0;
    border-left: 1px solid #ccc9c9;
    text-decoration: none;
    color: white;
    display: block;
  }

.navbar a:link{color :white}
.navbar a:visited {color: white}
.navbar a:hover {color: red}

a:link {color: red}
a:visited {color: blueviolet}
a:hover {color: darkcyan}

.moreinfo {
    font-style: italic;
    text-align: center;
    font-size: medium;
}

.rules{
    display: flex;
    flex:1%;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    
}

.rules img{
    margin-top: 2%;
    margin-right: 8%;
    width: 25%;
}

.rules p{
    margin-right: 10%;
    width : 65%;
    margin-left: 5%;
    flex: 1;
}