@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');



html {
    padding-top: 16px;
    background: orange;
    text-align: center;
    color: white;
    font-family: Calibri;
    font-size:larger;
    padding-bottom: 16px;
}




h1 {
    font-family: "Mountains of Christmas";
    font-size: 64px;
}



img{ 
    width : 30%
}

p {
    width: 66%;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
    font-size: x-large;
}


.images{
    width : 50%;
}



#spatula {
    margin-left: 100%;
    min-height: 32px;
}

#spatula > * {
    height: 64px;
    width: 256px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    top: -32px;
}

#container {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 64px;
}

#crepe_holder{
    margin-left: 10%;
    margin-right: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.crepe {
    margin: auto;
    background: black;
    height: 32px;
    margin-top: 6px;
}

.crepe > .top {
    height: 50%;
    opacity: 0%;
}

.crepe > .bottom {
    background: black;
    height: 50%;
    opacity: 50%;
}


@keyframes rotate {
    from {
      transform: rotateX(0deg);
    }
    to {
      transform: rotateX(180deg);
    }
}

.rotate {
  animation: rotate 0.32s ease-in-out;
}



.moreinfo a:link {color: red}
.moreinfo a:visited {color: blueviolet}
.moreinfo a:hover {color: darkcyan}


.moreinfo {
    font-style: italic;
    text-align: center;
    font-size: medium;
}

.rules{
    display: flex;
    flex:1%;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    
}

.rules img{
    margin-top: 2%;
    margin-right: 8%;
    width: 25%;
}

.rules p{
    margin-right: 10%;
    width : 65%;
    margin-left: 5%;
    flex: 1;
}



#musique{
    margin-top: 64px;
    align-items: center;
    justify-content: center;
    width: 100%;
}




#button_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right : 30%;
    margin-left: 30%;
    margin-top: 16px;
    margin-bottom: 16px;
}






footer{
    text-align: left;
    margin-top: 128px;
    margin-left: 30%;
}

footer input {
    width: 20px;
    height: 20px;
}






.btn img{
    width: 64px
}



.btn-juicy {
	box-shadow: 5px 10px#777;
	transition: 0.2s;
}

.btn-juicy.active{
    border-color: red;
}

.btn-juicy:hover {
	box-shadow: 6px 12px#b4b4b4;
	transform: translate(-1px, -2px);
}


.btn-juicy:hover:active {
	transition: 0.1s;
	box-shadow: 1px 2px#444;
	transform: translate(5px, 10px);
}


.btn.active{
    transition: 0.1s;
    background-color: #777;
	box-shadow: 1px 2px#444;
	transform: translate(5px, 10px);
} 

.btn.active img{
    opacity: 50%;
}



.btn {
	color: black;
	border-radius: 20px;
    border-width: 4px;
    border-color: #444;
	background-color: white;
	text-decoration: none;
	padding: 20px;
	margin: 10px;
	user-select: none;
	-webkit-user-drag: none;
    font-family: Calibri;
    font-size: large;
    font-weight: bold;
}



#counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}