html {
    background: orange;
    text-align: center;
    color: white;
    font-family: Calibri;
    font-size: larger;
}

#spatula {
    margin-left: 100%;
}

#spatula > * {
    height: 64px;
    width: 512px;
}

#container {
    width: 100%;
}

#crepe_holder{
    margin-left: 10%;
    margin-right: 45%;
    height: auto;
}

.crepe {
    margin: auto;
    margin-bottom: 1%;
    background: black;
    height: 32px;
    
}

.crepe > .top {
    height: 50%;
    opacity: 0%;
}

.crepe > .bottom {
    background: black;
    height: 50%;
    opacity: 50%
}